:root {
  /* 
* Black and white text 
* Green call to action buttons */
  --primary: rgb(22, 165, 212);
  --secondary: white;
  --secondary-hover: white;
  --main: #0d1b2a;
}

.btn-primary {
  background-color: var(--primary);
  /*background-color: rgb(22, 165, 212);*/
  border-color: transparent;
}

.btn-primary:hover {
  background-color: var(--secondary-hover);
  border-color: transparent;
  color: black;
}

.btn-primary:active {
  background-color: rgb(22, 165, 212);
  border-color: transparent;
}

.btn-main,
.btn-secondary {
  background-color: var(--main);
  color: white;
}

.btn-main:hover,
.btn-secondary:hover {
  color: var(--main);
  background-color: white;
}

/* NavBar */

nav,
footer {
  border-color: black;
  border-bottom: solid 1px;
  /*background-color: #1a1a1a;*/
  background-color: var(--main);
  color: white;
}

.nav-item {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--primary);
}

.bg-primary {
  color: white;
}

.menu-logo {
  color: white;
}

/* Images */

.bg-img {
  background-image: url(/frontend/images/background-image-2.jpg);
  min-height: 90vh;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: black 0.461;
  /* background: linear-gradient(var(--primary))*/
}

.bg-translucent {
  background-color: rgb(207, 215, 224, 0.063);
}
/*
.bg-img {
  /* background-image: url(../images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg); 
  min-height: 90vh;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background: linear-gradient(var(--primary), #b208c1a1, var(--primary)),
  radial-gradient(circle 700px at 20% 30%, rgba(255, 0, 179, 0.945), transparent),
  radial-gradient(circle 500px at 80% 70%, rgba(255, 0, 179, 0.945), transparent);
  /* background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.461); */

body {
  background-color: var(--primary);
}

textarea {
  resize: none;
}

form a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}

form a:hover {
  color: var(--secondary);
}
